.body {
    background-attachment: fixed;
    background-image: url("../images/cute.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 240, 249);
    
}

.head {
    float: centre;
    font-weight: 900;
    font-weight: bolder;
    font-style: oblique;
    color: rgb(15, 14, 14);
    font-stretch: initial;
    text-align: center;
    
}

.details {
    color: blue;
    font-weight: bolder;
    text-align: center;
}

.label {
    font-weight: bolder;
}

footer {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-stretch: semi-expanded;

}